---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import ItemGridService from '~/components/ui/ItemGridService.astro';
import Headline from '~/components/ui/Headline.astro';
import type { Services as Props } from '~/types';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  items = [],
  columns = 2,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper
  id={id}
  isDark={isDark}
  containerClass={`max-w-5xl ${classes?.container ?? ''}`}
  bg={bg}
>
  <Headline
    title={title}
    subtitle={subtitle}
    tagline={tagline}
    classes={classes?.headline as Record<string, string>}
  />
  <ItemGridService
    items={items}
    columns={columns}
    classes={{
      container: 'h-full',
      panel: 'h-full',
      title: 'text-primary font-serif md:text-[1.3rem]',
      image: 'w-full h-full object-cover',
      price: 'text-md capitalize font-serif',
      action: 'text-primary font-sans font-semibold text-sm hover:text-black transition-all duration-300 ease-in-out',
      ...((classes?.items as Record<string, never>) ?? {}),
    }}
  />
  <div class="flex items-center justify-center mt-16">
    <slot
      name="action"
      class="self-center"
    />
  </div>
</WidgetWrapper>
